# Ignore .php files
*.php

# Ignore .zip and .rar files
*.zip
*.rar

# Ignore .txt files
*.txt

# Ignore any vscode files and folders
*vscode*

# Ignore archived files and folders
**/archived_mod/
archived_mod/*.html