# Ignore .php files
*.php

# Ignore archive files
*.zip
*.rar
*.7z

# Ignore .txt files
*.txt

# Ignore any vscode files and folders
*vscode*

# Ignore workspace files
*code-workspace

# Ignore .properties files
*.properties