/*  Main heading    */
h1 {
    font-size: 17px;
}

p {
    font-size: 14px
}

.utility_buttons_wrapper {
    padding: 4px 0;
    height: auto;
    width: auto;
    max-width: 480px;
}

.utility_buttons_wrapper em {
    display: none;
}

.utility_button {
    margin: auto 4px;
    font-size: 14px;
}

.navbar__wrapper {
    background-color: var(--navbarbg);
    width: 100%;
    transition: all 300ms ease;
    user-select: none;
}

