html {
	scroll-behavior: smooth;
 }
 font {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
 }
 .nojs {
	position: relative;
	margin: auto;
	color: rgb(253, 78, 78);
	font-size: 20px;
	font-weight: 700;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 1px;
	top: 15px;
 }
 body[data-theme="nvv"] {
	font-family: Verdana;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	margin: 0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: #21222c;
	overflow-y: scroll;
	--sidebarbg: #15171b;
	--sidebarbutton: rgba(149, 128, 255, 0.7);
	--sidebarbuttonhover: #ff80bf;
	--headercolor: #ffffff;
	--pcolor: #ffffff;
	--generaltextcolor: #ffffff;
	--itemtabcolor: #414558;
	--itemtaboutline: #6b66c0;
	--itemtabhover: #353277;
	--itemtabhovereffect: #6b66c0;
	--linkhover: rgba(149, 128, 255, 0.7);
	--buttonbg: rgba(149, 128, 255, 0.7);
	--buttonhover: #ff80bf;
	--tabcontents: rgba(171, 154, 255, 0.1);
	--announcement: #414558;
	--iconshield: #ff80bf;
	--featureditem: #ff80bf;
	/* LA/TOS THEME */
	--tostextcolor: rgb(255, 255, 255);
	--answertextcolor: #80ffea;
	--questiontextcolor: white;
	--tosqm: #ff9580;
 }
 body[data-theme="ncl"] {
	font-family: Verdana;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	margin: 0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(media/background_ncoriginal.jpg);
	overflow-y: scroll;
	--sidebarbg: #263340;
	--sidebarbutton: #49779c;
	--sidebarbuttonhover: #40c192;
	--headercolor: #ffffff;
	--pcolor: #ffffff;
	--generaltextcolor: #ffffff;
	--itemtabcolor: #293b4c;
	--itemtaboutline: #0c6969;
	--itemtabhover: #fff;
	--itemtabhovereffect: #18bbbb;
	--linkhover: #8defef;
	--buttonbg: #436c8e;
	--buttonhover: #40c192;
	--tabcontents: #233342;
	--announcement: #335673;
	--iconshield: #fff;
	--featureditem: #18bbbb;
	/* LA/TOS THEME */
	--tostextcolor: #c7c7c7;
	--answertextcolor: #70eaea;
	--questiontextcolor: white;
	--tosqm: #cc8041;
 }
 * {
	padding: 0;
	box-sizing: border-box;
	scrollbar-color: #414558 transparent;
	scrollbar-width: thin;
 }
 @font-face {
	font-family: "Audiowide";
	src: url(https://fonts.googleapis.com/css?family=Audiowide);
	font-family: "Bebas Neue";
	src: url(https://fonts.googleapis.com/css?family=Bebas+Neue);
	font-family: "Coda";
	src: url(https://fonts.googleapis.com/css?family=Coda);
	font-family: "Roboto";
	src: url(https://fonts.googleapis.com/css?family=Roboto);
	font-family: "Major Mono Display";
	src: url(https://fonts.googleapis.com/css?family=Major+Mono+Display);
	font-family: "Montserrat";
	src: url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
 }
 h1 {
	color: var(--headercolor);
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	text-align: center;
	font-size: 40px;
	margin-top: 30px;
 }
 /* Header animation */
 @keyframes h1anim {
	0% {
	   margin-top: 30px;
	   opacity: 0;
	}
	100% {
	   margin-top: 50px;
	   opacity: 1;
	}
 }
 p {
	color: var(--pcolor);
	font-family: Major Mono Display;
	text-align: center;
	font-size: 18px;
	animation-delay: 300ms;
 }
 /* Animation added */
 @keyframes panim {
	0% {
	   opacity: 0;
	}
	100% {
	   opacity: 1;
	}
 }
 /* Button Style */
 .button {
	background-color: var(--buttonbg);
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	width: 14em;
	height: 3em;
	font-family: Coda;
	font-size: 17px;
	z-index: 1;
	margin: 3px;
	border-radius: 5px;
	margin-top: 30px;
 }
 .button:hover {
	box-shadow: inset 14em 0 0 0 var(--buttonhover);
 }
 /* Snowflakes */
 #snowflakeContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
 }
 .snowflake {
	position: fixed;
	background-color: #ccc;
	user-select: none;
	z-index: 1000;
	pointer-events: none;
	border-radius: 50%;
	width: 10px;
	height: 10px;
 }
 /* Progress line (Width increases by JS) */
 #progress {
	position: fixed !important;
	z-index: 95 !important;
	height: 4px;
	background: var(--sidebarbuttonhover);
	position: absolute;
	width: 0;
	bottom: 99.65%;
	transition: 1s 0.4s;
	-webkit-box-shadow: 0 0 20px var(--sidebarbuttonhover);;
	box-shadow: 0 0 20px var(--sidebarbuttonhover);;
 }
 .buttonp {
	background-color: var(--itemtabcolor);
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
	width: 10em;
	height: 3em;
	font-family: Coda;
	font-size: 17px;
	border: none;
 }
 .buttonp:hover {
	box-shadow: inset 10em 0 0 0 var(--itemtabhovereffect);
 }
 .invisible {
	display: none;
	background-color: var(--tabcontents);
 }
 /* All the contect but not the side panel. */
 .cont {
	position: relative;
	margin-left: 78px;
 }
 /* Visual Config Upload Page */
 .contentform {
	margin-top: 30px;
	text-align: center;
	background-color: var(--itemtabcolor);
	margin: 150px;
	padding: 20px;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
 }
 .contentform h2 {
	font-family: Roboto;
	font-size: 20px;
	color: var(--tostextcolor);
	letter-spacing: 1px;
 }
 .alert-sucess {
	font-family: Roboto;
	font-size: 20px;
	color: var(--tostextcolor);
 }
 /* Upload visual cfg button */
 input[type="file"] {
	visibility: hidden;
	display: none;
	z-index: 0;
 }
 hidden {
	visibility: hidden;
	display: none;
	z-index: 0;
 }
 /* End of visual cfg button */
 input[type="text"] {
	width: 20em;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid var(--itemtaboutline);
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
	outline: none;
	background-color: var(--tabcontents);
	color: white;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	letter-spacing: 2px;
	border-radius: 5px;
	font-size: 18px;
 }
 input[type="text"]:focus {
	border: 1px solid var(--buttonhover);
	background-color: var(--tabcontents);
 }
 input[type="submit"] {
	background-color: var(--buttonbg);
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
	width: 14em;
	height: 3em;
	font-family: Coda;
	font-size: 17px;
	z-index: 1;
	margin-top: 30px;
	margin-bottom: 20px;
	border-radius: 5px;
 }
 input[type="submit"]:hover {
	box-shadow: inset 14em 0 0 0 var(--buttonhover);
 }
 /* Sidebar Panel */
 .sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 78px;
	background: var(--sidebarbg);
	padding: 6px 14px;
	transition: all 0.5s ease;
	font-family: Coda;
	z-index: 1;
 }
 .sidebar.open {
	width: 250px;
 }
 .sidebar .logo-details {
	height: 60px;
	display: flex;
	align-items: center;
	position: relative;
 }
 .sidebar .logo-details .icon {
	opacity: 0;
	transition: all 0.5s ease;
 }
 .sidebar .logo-details .logo_name {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	opacity: 0; 
	transition: all 200ms ease;
 }
 #sidebarlogo__nc {
	position: fixed;
	margin: 20px;
 }
 .sidebar.open .logo-details .icon,
 .sidebar.open .logo-details .logo_name {
	opacity: 1;
 }
 .sidebar .logo-details #btn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 22px;
	transition: all 0.4s ease;
	font-size: 23px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease;
 }
 .sidebar.open .logo-details #btn {
	text-align: right;
 }
 .sidebar i {
	color: #fff;
	height: 60px;
	min-width: 50px;
	font-size: 28px;
	text-align: center;
	line-height: 60px;
 }
 .sidebar .nav-list {
	margin-top: 20px;
 }
 .sidebar li {
	position: relative;
	margin: 8px 0;
	list-style: none;
 }
 .sidebar li .tooltip {
	position: absolute;
	top: -20px;
	left: calc(100% + 15px);
	z-index: 3;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 400;
	opacity: 0;
	white-space: nowrap;
	pointer-events: none;
	transition: 0s;
 }
 .sidebar li:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
	top: 50%;
	transform: translateY(-50%);
 }
 .sidebar.open li .tooltip {
	display: none;
 }
 .sidebar li a {
	display: flex;
	width: 100%;
	border-radius: 12px;
	align-items: center;
	text-decoration: none;
	transition: all 0.15s ease-in-out;
	background-color: var(--sidebarbutton);
	overflow: hidden;
 }
 .sidebar li a:hover {
	transition: all 0.15s ease-in-out;
	background: var(--sidebarbuttonhover);
	transform: scale(1.1);
 }
 .sidebar li a .links_name {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
 }
 .sidebar.open li a .links_name {
	opacity: 1;
	pointer-events: auto;
 }
 .sidebar li i {
	height: 50px;
	line-height: 50px;
	font-size: 23px;
	border-radius: 12px;
 }
 .home-section {
	position: relative;
	background: #e4e9f7;
	min-height: 100vh;
	top: 0;
	left: 78px;
	width: calc(100% - 78px);
	transition: all 0.5s ease;
	z-index: 2;
 }
 .sidebar.open ~ .home-section {
	left: 250px;
	width: calc(100% - 250px);
 }
 .home-section .text {
	display: inline-block;
	color: #11101d;
	font-size: 25px;
	font-weight: 500;
	margin: 18px;
 }
 /* LA/TOS Page CSS */
 h1 .headert {
	color: white;
	font-family: Major Mono Display;
	text-align: center;
	font-size: 50px;
 }
 .pt {
	color: white;
	font-family: Major Mono Display;
	text-align: center;
	font-size: 30px;
 }
 .faqq {
	color: white;
	font-family: Major Mono Display;
	text-align: center;
	font-size: 30px;
 }
 .qm {
	color: var(--tosqm);
 }
 .qa__content{
	margin-top: 25px;
 }
 .textcont {
	position: relative;
	text-align: left;
	margin-top: 40px;
	font-family: Roboto;
	color: var(--tostextcolor);
	margin: 5rem;
	font-size: 28px;
	line-height: 1.4;
	transition: all .5s ease-in-out;
 }
 .tos_textline{
	margin-top: 15px;
 }
 .textcont a {
	font-family: Roboto;
	color: var(--tostextcolor);
	font-size: 28px;
 }
 .pTitle {
	position: relative;
	font-family: Roboto;
	color: #0f9696;
	font-size: 30px;
	margin-bottom: 25px;
	margin-top: 25px;
	font-weight: bold;
	transition: all .7s ease-in-out;
 }
 .answer {
	color: #70eaea;
 }
 @media screen and (max-width: 1000px) {
	.textcont {
		margin: 3rem;
	}
	.pTitle {
		display: flex;
		justify-content: center;
	}
 }
 .optionsbox {
	position: relative;
	width: 100%;
	height: fit-content;
	border-radius: 10px;
	background-color: var(--announcement);
	overflow: hidden
 }
 .optionsbox__content{
	text-align: center;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;
 }
 .optionsbox__title{
	font-weight: bold;
	margin-bottom: 15px;
 }
 .optionsbox__text{
	height: 100%;
	vertical-align: middle;
 }
 /* Visual config tabs */
 .cfgvrow {
	display: table;
    width: 100%;
 }
 .cfg {
	position: relative;
	width: 90%;
	max-height: 405px;
	display: flex;
	align-content: center;
	left: 10vh;
	margin-top: 30px;
	background-color: var(--itemtabcolor);
	border: 1px solid var(--itemtaboutline);
	border-radius: 15px;
	transition-duration: .5s;
	overflow: hidden;
 }
 .cfg__img-container {
	flex-shrink: 0;
	min-height: 500px;
	min-width: 500px;
	max-height: 415px;
 }
 .cfg__img-container img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	max-width: 500px;
	max-height: 405px;
	border-radius: 15px;
	transition: all 300ms;
 }
 .cfg__content {
	flex-basis: auto;
	padding: 20px;
	margin: auto;
	transition: all 1s;
 }
 .cfg__title {
	position: relative;
	font-weight: 800;
	color: var(--tostextcolor);
	font-size: 2.1rem;
	margin-bottom: 0.4rem;
	animation-delay: 350ms;
 }
 /* Title of Tab Animation */
 @keyframes cfgtitleanim {
	0% {
	   opacity: 0;
	}
	100% {
	   opacity: 1;
	}
 }
 .cfg__subtitle {
	font-size: 19px;
	font-weight: 800;
	letter-spacing: 1px;
	color: var(--tostextcolor);
	margin-bottom: 3.125rem;
	font-family: Roboto;
 }
 .cfg__desc {
	 transition: all 0.5s ease-in-out;
	font-size: 23px;
	line-height: 1.8;
	color: var(--tostextcolor);
	margin-bottom: 3.125rem;
	font-family: "Open Sans", sans-serif;
 }
 .cfg__button {
	position: relative;
	display: inline-block;
	background-color: var(--buttonbg);
	color: var(--tostextcolor);
	text-decoration: none;
	padding: 1.05rem 2rem;
	margin: 5px;
	border-radius: 5px;
	font-family: Roboto;
	transition: 0.5s;
 }
 /* Download Button Animation */
 @keyframes cfgbuttonanim {
	0% {
	   top: 10px;
	   opacity: 0;
	}
	100% {
	   top: 0;
	   opacity: 1;
	}
 }
 .cfg__button:hover {
	background-color: var(--buttonhover);
	color: white;
	transform: scale(1.05);
 }
 .cfg__upl {
	height: 30px;
	color: var(--tostextcolor);
	font-family: Roboto;
	margin-bottom: 0;
 }
 /* Text on the end of the cfg page */
 .endtabstext {
	position: relative;
	margin: 50px;
	font-family: Bebas Neue;
	color: var(--tostextcolor);
	font-size: 30px;
 }
 /* Icon for scrolling to the top (Needs rework) */
 .scrolltotopicon {
	position: fixed;
	bottom: 30px;
	width: 50px;
	height: 50px;
	opacity: 0.3;
	left: 96.5%;
	cursor: pointer;
	background-image: url(media/ncc_c.png);
	background-size: 50px;
 }
 #scrolltotoparrow {
	position: fixed;
	bottom: 90px;
	width: 30px;
	height: 30px;
	opacity: 0.3;
	left: 96.7%;
	cursor: pointer;
	font-size: 40px;
	color: var(--itemtabhover);
 }
 /* Numbers of pages in the end of cfgs. */
 .pages {
	position: relative;
	margin-bottom: 50px;
	align-content: center;
 }
 .pages a {
	transition-duration: 0.5s;
	padding: 20px;
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 17px;
	font-family: Coda;
	border-radius: 3px;
	color: var(--tostextcolor);
	background-color: var(--buttonbg);
	cursor: pointer;
 }
 .pages a:hover {
	background-color: var(--buttonhover) !important;
 }
 .pages a:active {
	background-color: var(--buttonhover) !important;
 }
 .pages .pagebtn:active {
	background-color: var(--buttonhover) !important;
 }
 .active,
 .a:hover {
	background-color: var(--buttonhover) !important;
 }
 /*		Mods Page CSS		*/
 .column {
	position: relative;
	float: left;
	width: 245px;
	height: 150px;
	padding: 5px;
	margin-left: 4.656666667%;
	margin-top: 55px;
	transition: 0.5s ease-in-out;
	border-radius: 5px;
	list-style-type: none;
	list-style: none;
	background-color: var(--itemtabcolor);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: columnanim;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-delay: 100ms;
 }
/*		Column Animation		*/
 @keyframes columnanim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
 }
 .row {
	width: 100%;
	transition: 0.5s ease-in-out;
 }
 .row:after {
	content: "";
	display: table;
	clear: both;
 }
 .column h2 {
	position: relative;
	margin-top: 5px;
	font-size: 18px;
	color: var(--tostextcolor);
 }
 .down_button {
	position: absolute;
	background-color: var(--buttonbg);
	color: var(--tostextcolor);
	text-decoration: none;
	padding: 0.5rem 1.7rem;
	border-radius: 5px;
	font-family: Roboto;
	left: 25%;
	top: 105px;
	transition: 0.5s;
 }
 .down_button:hover {
	background-color: var(--buttonhover);
	color: white;
	transform: scale(1.05);
 }
 .column__content {
	position: relative;
	opacity: 100%;
	transition: 0.5s ease-in-out;
	width: 270px;
	height: 70px;
	text-align: center;
	justify-content: center;
 }
 .column p {
	position: relative;
	font-family: Roboto;
	font-size: 15px;
	margin: auto;
	overflow-wrap: break-word;
 }
 .column__content:hover {
	opacity: 1;
	display: block;
	transition: 0.5s ease-in-out;
 }
 .not-found {
	font-family: Roboto;
	font-size: 20px;
	margin-top: 30px;
	color: var(--tostextcolor);
 }
 /* Flexible columns for five items in the row on different resolutions */
 @media screen and (max-width: 450px) {
	.column {
	   left: 15%;
	}
 }
 @media screen and (max-width: 604px) {
	.column {
	   margin-top: 40px;
	}
 }
 @media screen and (max-width: 810px) {
	.column {
	   left: 15%;
	}
 }
 @media screen and (max-width: 1534px) {
	.column {
	   margin-left: 2.656666667%;
	}
 }
 @media screen and (max-width: 1600px) {
	.column {
	   margin-left: 3.306666667%;
	}
	/* Scale visuals config image here to prevent making more instances */

}
 @media screen and (min-width: 1920px) {
	.column {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		margin-top: 90px !important;
		margin-left: 5.856666667%;
	}
}
/* Visual config tabs scaling start */
@media screen and (max-width: 600px){
	.cfg{
		float: none;
		width: 100% !important;
	}
	.optionsbox{
		display: none;
	}
	.cfg__title span{
		display: none;
	}
}
/* Make two rows of visual configs without an image for space */
@media screen and (max-width: 1055px){
	.cfg__img-container{
		display: none;
	}
	.cfg {
		float: left;
		width: 50% !important;
		height: 500px;
		border-radius: 0;
		margin: 0;
		max-height: max-content;
	}
	.cfg__title span{
		display: none;
	}
	.cfg__content{
		margin: 15px;
	}
}
/* Free space to prevent content overflow before switching to screen and (max-width: 929px) */
@media screen and (max-width:970px){
	.cfg__content{
		padding: 3px;
	}
}
/* Move tabs fully to the left */
@media screen and (max-width:1248px){
	.cfg {
		width: 100%;
		left: 0;
		position: relative;
	}
}
/* Visual config tabs scaling end */
 .stat {
	position: absolute;
	background-color: var(--itemtabcolor);
	top: -32px;
	left: 20px;
	width: 45px;
	height: 32px;
	border-radius: 5px 5px 0px 0px;
 }
 .stat i {
	color: var(--iconshield);
	font-size: 27px;
	margin-top: 2px;
 }
 .stat .txtis {
	position: absolute;
	visibility: hidden;
	width: 120px;
	background-color: var(--sidebarbutton);
	color: var(--tostextcolor);
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	margin-left: -60px;
	bottom: 30px;
	opacity: 0;
	transition: opacity 0.5s;
	font-size: 13px;
	font-family: Roboto;
	left: 100px;
 }
 .stat:hover .txtis {
	visibility: visible;
	opacity: 1;
 }
 .mod__author {
	position: absolute;
	background-color: var(--itemtabcolor);
	left: 130px;
	height: 32px;
	top: -32px;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 15px;
	color: var(--tostextcolor);
	font-family: Roboto;
	font-size: 16px;
	text-decoration: none;
 }
 /* Suggest Modal and Overlay */
 #modal__overlay {
	display: none;
	position: fixed;
	background-color: var(--tabcontents);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0.5;
 }
 .upl__modal {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	width: 75%;
	left: 50%;
	margin-left: -36%;
	transition: opacity 1s;
 }
 /* Modal Content */
 .modal__content {
	position: relative;
	background-color: var(--itemtabcolor);
	margin: auto;
	padding: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatemodal;
	-webkit-animation-duration: 1s;
	animation-name: animatemodal;
	animation-duration: 1s;
	height: 650px;
	width: 450px;
	border-radius: 5px;
 }
 .modal__body p {
	color: var(--tostextcolor);
	font-family: Roboto;
 }
 .modal__body h2 {
	color: var(--tostextcolor);
	font-family: Roboto;
	font-size: 20px;
 }
 @-webkit-keyframes animatemodal {
	from {
	   top: -10px;
	   opacity: 0;
	}
	to {
	   top: 0;
	   opacity: 1;
	}
 }
 @keyframes animatemodal {
	from {
	   top: -10px;
	   opacity: 0;
	}
	to {
	   top: 0;
	   opacity: 1;
	}
 }
 .close {
	color: var(--tostextcolor);
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition-duration: 1s;
	position: absolute;
	right: 10px;
	top: 17px;
 }
 .close:hover,
 .close:focus {
	color: var(--sidebarbuttonhover);
	text-decoration: none;
	cursor: pointer;
 }
 .modal__header {
	padding: 2px 16px;
	background-color: var(--itemtabhovereffect);
	color: white;
 }
 .modal__body {
	padding: 2px 16px;
 }
 /* Announcement */
 .announcement {
	position: sticky;
	height: 60px;
	background-color: var(--announcement);
	overflow: hidden;
	margin-left: 78px;
	transition: all 1s;
 }
 .announcement a {
	font-family: Coda;
	font-size: 22px;
	text-align: center;
	color: var(--linkhover);
 }
 #dynamicannc {
	position: relative;
	margin: auto;
	color: var(--tostextcolor);
	font-size: 25px;
	font-weight: 700;
	font-family: Coda;
	letter-spacing: 1px;
	top: .7rem;
	transition: all 1s;
 }
 /* Reworked link styles and types */
 .default__link {
	text-decoration: none;
	color: var(--tostextcolor);
	transition: 0.5s;
 }
 .default__link:hover {
	text-decoration: none;
	cursor: pointer;
 }
 .other__clickablelink {
	text-decoration: none;
	color: #a2fff0 !important;
	transition: 0.5s;
 }
 .other__clickablelink:hover {
	cursor: pointer;
 }
 .nostylelink {
	text-decoration: none;
 }
 .contributor {
	font-family: Coda;
	text-decoration: none;
	color: rgb(98, 252, 206);
 }
 .contributor5 {
	font-family: Coda;
	text-decoration: none;
	color: lightblue;
	font-weight: lighter;
 }
 .contributor10 {
	font-family: Coda;
	text-decoration: none;
	color: lightgreen;
	font-weight: 100;
 }
 .contributor15 {
	font-family: Coda;
	text-decoration: none;
	color: rebeccapurple;
	font-weight: 200;
 }
 .contributor25 {
	font-family: Coda;
	text-decoration: none;
	color: magenta;
	font-weight: 300;
 }
 .contributor35 {
	background-image: linear-gradient(-225deg, #18bbbb 0%, #3f3f3f 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: contr35anim 2s linear infinite;
	font-weight: 400;
 }
 @keyframes contr35anim {
	to {
	   background-position: 200% center;
	}
 }
 .contributor45 {
	color: #39727279;
	animation: contr45anim 2s ease-in-out infinite;
	font-weight: 500;
 }
 @keyframes contr45anim {
	0% {
	   color: #39727279;
	}
	13% {
	   color: #42f7b4;
	}
	100% {
	   color: #39727279;
	}
 }
 .contributor50 i {
	position: relative;
	top: 3px;
	font-size: 25px;
	font-weight: 600;
 }
 .contributor60 {
	color: #fff;
	text-shadow: 0 0 7px #ffffff;
	font-weight: 700;
 }
 .contributor70 {
	background: radial-gradient(#ff109b, #8c48fa);
	background-clip: border-box;
	text-shadow: 0px 0px 5px rgb(255 255 255 / 61%),
	   -1px -1px 1px rgb(255 255 255 / 61%), 1px 0px 5px rgb(204 0 255),
	   0px -2px 1px rgba(234, 46, 255, 0), 1px 0px 5px rgb(211 37 255),
	   0px -2px 1px rgb(255 255 255), 0px 1px 1px rgb(166 0 248 / 56%),
	   -1px 3px 1px rgb(166 0 248 / 33%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 800;
 }
 .contributor80 {
	background: linear-gradient(180deg, #ff36a5 0%, #4d8bff 100%, #ffe657);
	text-shadow: 1px 0px 5px rgb(204 0 255), 1px 0px 5px rgb(211 37 255);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
 }
 .contributor100 {
	text-shadow: 2px 2px 4px #ff0000;
	background: radial-gradient(circle, #ff8001 01%, #ff0b56 63%, #d50007 77%);
	background-clip: border-box;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: 1000;
 }
 .contributor100 i {
	position: relative;
	top: 2px;
 }
 .contributor50 {
	color: #f5ff6a;
 }
 /* Welcome Page */
 .welcome_overlay {
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgb(13, 18, 22);
	background: linear-gradient(
	   152deg,
	   rgba(13, 18, 22, 1) 0%,
	   rgba(16, 16, 40, 1) 52%,
	   rgba(34, 25, 45, 1) 100%
	);
	overflow: hidden;
	transition: 0.7s all ease-in-out;
	display: none;
 }
 .welcome_header_container {
	position: relative;
	text-align: left;
	top: 30%;
	left: 10%;
	width: 600px;
	height: 400px;
	transition: 0.5s;
 }
 .welcome_header {
	position: relative;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: white;
	opacity: 0;
	bottom: 15px;
	animation-fill-mode: forwards;
	animation-name: wcheaderanim;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 100ms;
 }
 @keyframes wcheaderanim {
	0% {
	   opacity: 0;
	   bottom: 15px;
	}
	100% {
	   bottom: 0;
	   opacity: 1;
	}
 }
 .welcome_header2 {
	position: relative;
	margin-top: 25px;
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	font-weight: 500;
	width: 530px;
	color: #a7bfe9;
	opacity: 0;
	transition: all 0.5s;
	bottom: 15px;
	transition: all 0.5s;
	animation-fill-mode: forwards;
	animation-name: wcheaderanim2;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 200ms;
 }
 @keyframes wcheaderanim2 {
	0% {
	   opacity: 0;
	   bottom: 15px;
	}
	100% {
	   bottom: 0;
	   opacity: 1;
	}
 }
 .welcome_imgcontainer {
	position: absolute;
	left: 60%;
	top: 150px;
	padding-top: 50px;
	transition: all 0.3s ease-in-out;
	height: 500px;
 }
 .welcome_imgcontainer img {
	position: absolute;
	pointer-events: none;
	top: 15px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	animation-fill-mode: forwards;
	animation-name: wcimganim;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 300ms;
 }
 @keyframes wcimganim {
	0% {
	   opacity: 0;
	   top: 15px;
	}
	100% {
	   top: 0;
	   opacity: 1;
	}
 }
 .downbuttons {
	margin-top: 50px;
	width: 150px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	animation-fill-mode: forwards;
	animation-name: wchebtnanim;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 400ms;
 }
 @keyframes wchebtnanim {
	0% {
	   opacity: 0;
	   top: 15px;
	}
	100% {
	   top: 0;
	   opacity: 1;
	}
 }
 .welcbutton {
	backface-visibility: hidden;
	background: #332cf2;
	border-radius: 0.375rem;
	color: var(--tostextcolor);
	cursor: pointer;
	display: inline-block;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 18px;
	padding: 12px;
	position: relative;
	text-align: center;
	transform: translateZ(0) scale(1);
	transition: transform 0.2s;
	user-select: none;
	-webkit-user-select: none;
	margin-top: 10px;
	width: 160px;
 }
 .welcbutton:hover {
	transform: scale(1.05);
	color: white;
	transition: all 100ms ease-in-out;
 }
 .welcbutton:hover:active {
	transform: scale(1.05) translateY(0.125rem);
 }
 .welcbutton:focus {
	outline: 0 solid transparent;
 }
 .welcbutton:focus:before {
	border-width: 0.125rem;
	content: "";
	left: calc(-1 * 0.375rem);
	pointer-events: none;
	position: absolute;
	top: calc(-1 * 0.375rem);
	transition: border-radius;
	user-select: none;
 }
 .welcbutton:focus:not(:focus-visible) {
	outline: 0 solid transparent;
 }
 .welcbutton:active {
	transform: translateY(0.125rem);
 }
 .welc_media {
	position: fixed;
	bottom: 92%;
	margin-top: 15px;
	left: 15px;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: wcmediaanim;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 400ms;
 }
 @keyframes wcmediaanim {
	0% {
	   opacity: 0;
	}
	100% {
	   opacity: 1;
	}
 }
 .welc_media a {
	width: 50px;
 }
 .welc_media i {
	font-size: 25px;
 }
 .welc_media_text {
	position: relative;
	color: var(--tostextcolor);
	font-family: "Open Sans", sans-serif;
	font-size: 28px;
	font-weight: 700;
 }
 @media screen and (max-width: 1240px) {
	.welcome_imgcontainer {
	   opacity: 0;
	}
	.welcome_header_container {
	   top: 30%;
	   left: 25%;
	}
	.downbuttons {
	   position: relative;
	   left: 30%;
	}
	.welcome_header2 {
	   text-align: center;
	}
 }
 /* Status Page CSS */
 .outagedate {
	 margin-top: 55px;
	 font-weight: bold;
	 color: white;
 }
 .outagedate i{
	 font-size: 30px;
	 position: relative;
	 top: 3px;
 }
 .outageinfo{
	font-weight: normal;
	margin-left: 15px;
 }
 .outageinfo i{
	 font-size: 12px;
 }
.outageinfotext{
	font-size: 25px;
}
.statusdetailedbox{
	overflow: hidden;
	margin: 0;
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	background-color: var(--itemtabcolor);
	color: white;
	height: 80px;
	border-radius: 10px;
	margin-bottom: 30px;
}
.detl__text{
	text-align: center;
	width: 100%;
	display: inline;
}
.detl__text div {
	display: inline;
}